.bg {
  height: 2000px;
  position: relative;
  background: url("../img/plank-board2.jpg") top repeat-y;
  height: auto;
  width: 100vw;
  z-index: 2;
}
.bottom-pic {
  background: url(../img/background-tool.jpg) bottom no-repeat;
  z-index: 1000;
  position: relative;
  bottom: 0;
  height: 550px;
  width: 99%;
  background-size: cover;
  margin: 0 auto;
}

/* nav bar stuff right here */
.company-logo {
  background-image: url(../img/comp-logo.png);
}
.row{
  height: 2000px;
}

/* Styling for my nav bar */
.top-nav { /*-- main navigation element --*/
  margin-top: -.75rem; /*-- uses negative margin to pull menu to top --*/
  padding-bottom: .5rem; /*-- creates a little space below nav --*/
  background-color: #020122;
  display: flex; /*-- creates a flex container --*/
  flex-direction: column; /*-- direction is for MOBILE screen sizes --*/
  justify-content: space-around; /*-- lays out menu items--*/
  align-content: center; /*-- vertically aligns menu items to center --*/
  position: fixed; /*-- makes the navbar stay at the top, even when scrolling--*/
  z-index: 1000; /*-- makes navbar always sit on top--*/
  width: 100%; /*-- makes navbar occupy full width of the page --*/
}
a.nav-item {
  position: relative; /*-- overcomes negative margin in above rule --*/
  top: 4px; /*-- tweaks vertical position --*/
  text-align: center; /*-- center-aligns all text inside their boxes --*/
  padding: .75em; /*-- provides padding inside menu items --*/
  margin: auto 0; /*-- centers menu text vertically --*/
  color: #f2f3ae;
  transition: color 250ms ease-in-out; /*-- specifies transition, duration, and easing --*/
}
a.nav-item:hover {
  color: #fc9e4f;
  cursor: pointer; /*-- changes menu items to pointer on hover --*/
}
.label {
  font-size: 1rem;
}
.nav-item.trigram {
  display: none; /*-- hides trigram (hamburger menu button) by default --*/
  text-decoration: none; /*-- removes underline --*/
  font-size: 2rem; /*-- makes much larger than normal text--*/
}
/*-- Mobile Nav Queries --*/
/*--At screens BELOW 768px, hides nav menu items and displays trigram --*/
@media screen and (max-width: 767px) {
  .top-nav a, .top-nav span {display: none;}
  .top-nav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}
/*-- At screens BELOW 768px,  rules for mobile nav--*/
@media screen and (max-width: 767px) {
  .top-nav.responsive {align-items: center;} /*-- vertically centers--*/
  .top-nav.responsive a, .top-nav.responsive span {display:inherit;} /*-- makes menu items visible --*/
  .top-nav.responsive a:first-child {margin-top:1em;} /*-- adds space above first item --*/
  .top-nav.responsive a:not(:last-child) {display:inherit; padding-top:1em;} /*-- makes items visible (but not the trigram) and adds space above them--*/
  .top-nav.responsive a.more {margin-bottom: 1em;} /*-- adds margin below bottom item --*/
  .top-nav.responsive a.trigram {visibility:hidden; transition:none;} /*-- hides trigram when open --*/
  .top-nav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} /*-- replaces trigram sign with x-sign on mobile. --*/
}
/*-- At screens 768px and ABOVE, set normal menu defaults --*/
@media screen and (min-width: 768px) {
  .top-nav {display: flex; flex-direction: row; justify-content: space-around;}
}


.pls-work{
  width: 100%;
}